{% extends 'Shop/base.html' %}
{% block title %} About Us{% endblock %}
{% block body %}

<main role="main">

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <div class="container">
            <h1 class="display-3">Online Shop</h1>
            <p>Online Shop Pvt Ltd. is an Indian e-commerce company, based in Bengaluru, India. The company is focused
                on online sales of the product categories such as consumer electronics, fashion, home essentials,
                groceries, and lifestyle products.

                The service competes primarily with Amazon's Indian subsidiary and domestic rival Snapdeal. As of
                October 2022, Online Shop held a 23.78% market share of India's e-commerce industry. Online Shop has a
                dominant position in the apparel segment and was described as being "neck and neck" with Amazon in the
                sale of electronics and mobile phones.

                In November 2022, American retail chain Walmart acquired a 72% controlling stake in Online Shop for US$4
                billion, valuing Online Shop at around US$5 billion</p>
            <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
        </div>
    </div>

    <div class="container">
        <!-- Example row of columns -->
        <div class="row">
            <div class="col-md-4">
                <h2>Heading</h2>
                <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor
                    mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna
                    mollis euismod. Donec sed odio dui. </p>
                <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
            </div>

        </div>

        <hr>

    </div> <!-- /container -->

</main>

{% endblock %}